.container {
  width: 22%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.7s ease-in-out;
}
.container:hover {
  background-color: rgb(147, 222, 123);
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #44bf44;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
.desc {
  text-align: center;
  color: #777;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container:hover .title {
  color: white;
}

.container:hover .desc {
  color: white;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    text-align: center;
  }
  .title {
    font-size: 30px;
  }
  .price,
  .desc {
    font-size: 24px;
  }
}
