.container {
  height: calc(100vh - 100px);
  display: flex;
}
.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  flex: 1;
  padding: 20px;
}
.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}
.price {
  color: #44bf44;
  font-size: 24px;
  font-weight: 400;
}
.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.number {
  position: relative;
  font-size: 10px;
  top: -10px;
  right: -8px;
  padding: 3px;

  background-color: teal;
  color: white;
  border-radius: 4px;
}
.size {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.size:nth-child(2) {
  width: 42px;
  height: 42px;
}
.size:nth-child(3) {
  width: 54px;
  height: 54px;
}
.ingredients {
  margin-top: 20px;
  display: flex;
}
.ingredient {
  margin-right: 20px;
  background-color: rgb(234, 224, 224);
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.selected {
  background-color: rgb(87, 165, 196);
  background-color: teal;
  color: white;
}
.addItems {
  margin-top: 40px;
}
.quantity {
  width: 50px;
  height: 35px;
  text-align: center;
  border: none;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
}
.addButton {
  margin-left: 28px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  color: #1e7e1e;
  font-weight: bold;
  background-color: white;
  border: 1px solid lightgray;
  transition: all 0.6s ease-in;
}
.addButton:hover {
  color: white;
  background-color: #1e7e1e;
  font-weight: bold;
}
